/* customers.css */

.table-container {
    display: flex;
    flex-direction: column;
  }
  
  .desktop-table-view {
    display: none;
  }
  
  .mobile-list-view {
    display: block;
  }
  
  @media (min-width: 768px) {
    .desktop-table-view {
      display: block;
    }
    .mobile-list-view {
      display: none;
    }
  }
  