/* sidebar.css */

.sidebar {
    width: 150px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    background-color: #f8f9fa;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .table-container {
    flex-grow: 1;
    margin-right: 150px; /* Adjust margin to make space for the sidebar */
  }
  
  .table-card-sidebar {
    margin-bottom: 1rem;
  }
  
  .table-info-sidebar {
    margin-bottom: 0.5rem;
  }
  
  .available {
    border-left: 5px solid green;
  }
  
  .booked {
    border-left: 5px solid orange;
  }